#clockconatiner{
   position: relative;
    height: 40vw;
    width: 40vw;
    background: url(./clock3.png) no-repeat;
    background-size: 100%;
    margin: auto;
    border: 2px solid black;
}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;

}

#minute{
    width: 0.6%;
    height:30%;
    top:20%;
    left:49.5%;
    opacity: 0.8;
    
    
 

}
#hour{

    width: 1%;
    height:20%;
    top:30%;
    left:49.5%;
    opacity: 0.8;
    
    
}
#second{
    
    width: 0.3%;
    height:40%;
    top:11%;
    left:49.5%;
    opacity: 0.8;
 
    
}